<h1>User Profile</h1>

<div> Welcome, {{theUser.username}} </div>

<h3> Movies</h3>

{{#each theUser.movies}}
    <div>
    <a href="/movies/{{movie._id}}">
    {{this.name}}
       </a>
    </div>
{{/each}}

{{#if success}}
  <div class="flash-message success">
    {{#each success}}
      <p>{{this}}</p>
    {{/each}}
  </div>
{{/if}}


{{#if error}}
  <div class="flash-message error">
    {{#each error}}
      <p>{{this}}</p>
    {{/each}}
  </div>
{{/if}}