<h2> Edit Movie Info</h2>

<form action="/movies/{{movie._id}}/edit" method="post">
<label for="movieTitle">Title
<input type="text" name="title" id="movieTitle" value="{{this.movie.title}}"></label>
<br>

<label for="movieGenre">Genre:
<input type="text" name="genre" id="movieGenre" value="{{this.movie.genre}}"></label>
<br>

<label for="moviePlots">Plot:
<input type="text" name="plot" id="moviePlot" value="{{this.movie.plot}}"></label>
<br>

<label>Cast</label>
<select name="cast[]" multiple>
{{#each this.celebrities}}
<option value="{{this._id}}">{{this.name}}</option>"
{{/each}}

</select>

<button type="submit"> Edit Movie</button>
</form>

{{#if success}}
  <div class="flash-message success">
    {{#each success}}
      <p>{{this}}</p>
    {{/each}}
  </div>
{{/if}}


{{#if error}}
  <div class="flash-message error">
    {{#each error}}
      <p>{{this}}</p>
    {{/each}}
  </div>
{{/if}}